# **Datasets Management**

# Import Relevant Libraries

In [1]:
# Import necessary genral libraries/modules
import os
import fnmatch
import shutil

# Import data-oriented libraries
import pandas as pd
import numpy as np
from natsort import natsorted

# First Organization

Create a list of all directories.

In [2]:
# Get the current working directory
current_directory = os.getcwd()

# List all directories in the current directory
directories = [d for d in os.listdir(current_directory)
               if os.path.isdir(os.path.join(current_directory, d))]

print(f"There are {len(directories)} folders in the current directory, which are:")
print()

for dir in directories:
    print(dir)

There are 4 folders in the current directory, which are:

All Datasets
Questionnaire Data
Examination Data
Demographic Variables and Sample Weights

Remove the "All datastest" folder from the list of folders in the current directory.

In [3]:
directories.remove("All Datasets")

It seems nice. Now create a list of xpt files' paths in the current directory.

In [4]:
# Define a function to find .XPT files in a directory and its subdirectories.
def find_xpt_files(root_dir):
    
    # Initialize an empty list to store the file paths
    xpt_files = []
    
    for root, dirs, files in os.walk(root_dir):
        
        # Walk through the directory tree rooted at root_dir.
        for filename in fnmatch.filter(files, "*.XPT"):
            
            # For each file with a .XPT extension add its full path to the xpt_files list.
            xpt_files.append(os.path.join(root, filename))

    return xpt_files

In [5]:
# Specify the current directory as the root directory.
current_directory = os.getcwd()

# Call the find_xpt_files function with the current directory.
xpt_file_paths = find_xpt_files(current_directory)

for xpt_file_path in xpt_file_paths:
    print(xpt_file_path)

/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Smoking - Cigarette Use/P_SMQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Income/P_INQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Diabetes/P_DIQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Cardiovascular Health/P_CDQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Physical Activity/P_PAQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Questionnaire Data/Alcohol Use/P_ALQ.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Examination Data/Body Measures/P_BMX.XPT
/Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/Demographic Variables and Sample Weights/P_DEMO.XPT

Create a new directory to save all datasets in it.

In [6]:
# Define the name of the new folder.
new_folder_name = "All Datasets"

# Create the full path to the new folder.
new_folder_path = os.path.join(current_directory, new_folder_name)

# Create the new folder if it doesn't exist.
os.makedirs(new_folder_path, exist_ok=True)

**<font color='red'>Now, create a copy for each dataset in a new directory.</font>**

In [7]:

# Loop through each .XPT file in the list.
for xpt_file_path in xpt_file_paths:
    
    # Extract the filename from the full path.
    filename = os.path.basename(xpt_file_path)

    # Determine the subdirectories between the current directory and the file.
    subdirectories = os.path.relpath(xpt_file_path, current_directory).split(os.path.sep)[:-1]

    # Generate a subdirectory name by joining the subdirectories with underscores.
    subdirectory_name = "_".join(subdirectories)

    # Remove spaces from the subdirectory name.
    subdirectory_name = subdirectory_name.replace(" ", "")

    # Construct the new filename with the subdirectory name and .XPT extension.
    new_filename = f"{subdirectory_name}" + ".XPT"

    # Create the full path to the new location for the file within the new folder.
    new_file_path = os.path.join(new_folder_path, new_filename)

    # Copy the .XPT file to the new location.
    shutil.copy(xpt_file_path, new_file_path)

print(f"Files copied to: {new_folder_path}")

Files copied to: /Users/shahriyar/Library/Mobile Documents/com~apple~CloudDocs/Study/SUT/TA/Advanced Programming/Main Project/Datasets/All Datasets

Seems perfect. Now, we can read these files.</br>
Although it does not seem a good idea, read all of the files in the memory.

In [8]:
dataset_dict = {}

# Call the find_xpt_files function to obtain a list of XPT file paths within the specified directory.
xpt_file_paths = find_xpt_files(new_folder_path)

# Loop through each XPT file path to read it.
for xpt_file_path in xpt_file_paths:

    dataset_name = os.path.basename(xpt_file_path).split(".XPT")[0]
    dataset_dict[dataset_name] = pd.read_sas(xpt_file_path, format="xport")
    
# Iterate through each dataset in the dictionary to show their information.
for key in dataset_dict.keys():

    print(key)
    print(dataset_dict[key].shape)
    print()

QuestionnaireData_Diabetes
(14986, 28)

QuestionnaireData_PhysicalActivity
(9693, 17)

QuestionnaireData_Smoking-CigaretteUse
(11137, 16)

ExaminationData_BodyMeasures
(14300, 22)

QuestionnaireData_Income
(15560, 3)

QuestionnaireData_AlcoholUse
(8965, 10)

QuestionnaireData_CardiovascularHealth
(6433, 17)

DemographicVariablesandSampleWeights
(15560, 29)

# Extract All The Important Features

These are the important features.

- DemographicVariablesandSampleWeights

    SEQN - Respondent sequence number</br>
    RIAGENDR - Gender</br>
    RIDAGEYR - Age in years at screening</br>
    RIDRETH1 - Race/Hispanic origin</br>

- ExaminationData_BodyMeasures

    SEQN - Respondent sequence number</br>
    BMXWT - Weight (kg)</br>
    BMXBMI - Body Mass Index (kg/m**2)</br>

- QuestionnaireData_Diabetes

    SEQN - Respondent sequence number</br>
    DIQ010 - Doctor told you have diabetes</br>

- QuestionnaireData_PhysicalActivity

    SEQN - Respondent sequence number</br>
    PAQ605 - Vigorous work activity</br>

- QuestionnaireData_Smoking-CigaretteUse

    SEQN - Respondent sequence number</br>
    SMQ020 - Smoked at least 100 cigarettes in life</br>

- QuestionnaireData_Income

    SEQN - Respondent sequence number</br>
    INDFMMPC - Family monthly poverty level category</br>

- QuestionnaireData_AlcoholUse

    SEQN - Respondent sequence number</br>
    ALQ111 - Ever had a drink of any kind of alcohol</br>
    ALQ121 - Past 12 mo how often drink alcoholic bev</br>

- QuestionnaireData_CardiovascularHealth

    SEQN - Respondent sequence number</br>
    CDQ001 - SP ever had pain or discomfort in chest</br>
    CDQ010 - Shortness of breath on stairs/inclines</br>

Firts of all, create a dictionary of all the important features for datasets.

In [9]:
features_dict = {
    "DemographicVariablesandSampleWeights" :
        ["SEQN",
         "RIAGENDR",
         "RIDAGEYR",
         "RIDRETH1"],
    "ExaminationData_BodyMeasures" :
        ["SEQN",
         "BMXWT",
         "BMXBMI"],
    "QuestionnaireData_Diabetes" :
        ["SEQN",
         "DIQ010"],
    "QuestionnaireData_PhysicalActivity" :
        ["SEQN",
         "PAQ605"],
    "QuestionnaireData_Smoking-CigaretteUse" :
        ["SEQN",
         "SMQ020"],
    "QuestionnaireData_Income" :
        ["SEQN",
         "INDFMMPC"],
    "QuestionnaireData_AlcoholUse" :
        ["SEQN",
         "ALQ111",
         "ALQ121"],
    "QuestionnaireData_CardiovascularHealth" :
        ["SEQN",
         "CDQ001",
         "CDQ010"]
        }

Now, we can delete the irrelevant features.

In [10]:
# Iterate through the keys in the dataset_dict (each key represents a dataset).
for key in dataset_dict.keys():
    
    # Get the DataFrame associated with the current dataset.
    df = dataset_dict[key]

    # Get the list of relevant features for this dataset from the features_dict.
    relevant_features = features_dict[key]

    # Create a new DataFrame containing only the relevant features.
    new_df = df[relevant_features]

    # Update the dataset_dict with the new DataFrame, containing only relevant features.
    dataset_dict[key] = new_df

Now, let's check not missing values for each dataset's features.

In [11]:
# Iterate through the keys in dataset_dict, sorted in alphabetical order.
for key in sorted(list(dataset_dict.keys())):
        
    # Get the DataFrame associated with the current key.
    df = dataset_dict[key]    
    
    # Print the dataset key.
    print(key)
    print()
    
    # Calculate the proportion of non-missing values for each feature in the DataFrame.
    # This is done by dividing the count of non-null values by the total number of rows and multiplying by 100.
    proportions = round(((df.count() / len(df)) * 100), 2)
    
    # Print the proportions of non-missing values for each feature in the DataFrame.
    print(proportions)

    # Check if the current key is not the last key in the sorted list of keys.
    if key != sorted(list(dataset_dict.keys()))[-1]:
        print("-" * 80)

DemographicVariablesandSampleWeights

SEQN        100.0
RIAGENDR    100.0
RIDAGEYR    100.0
RIDRETH1    100.0
dtype: float64
--------------------------------------------------------------------------------
ExaminationData_BodyMeasures

SEQN      100.00
BMXWT      98.43
BMXBMI     91.87
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_AlcoholUse

SEQN      100.00
ALQ111     93.36
ALQ121     83.69
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_CardiovascularHealth

SEQN      100.0
CDQ001    100.0
CDQ010    100.0
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_Diabetes

SEQN      100.0
DIQ010    100.0
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_Income

SEQN        100.00
INDFMMPC     91.63
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_PhysicalActivity

SEQN      100.0
PAQ605    100.0
dtype: float64
--------------------------------------------------------------------------------
QuestionnaireData_Smoking-CigaretteUse

SEQN      100.00
SMQ020     87.03
dtype: float64

# Merge The Datasets

Outer-merge the datasets by the key of SEQN.

In [12]:
# Create an empty DataFrame with 'SEQN' column
merged_df = pd.DataFrame({"SEQN": []})

# Iterate through the DataFrames in dataset_dict and merge them into merged_df based on the 'SEQN' column using an outer join.
for df in dataset_dict.values():
    merged_df = pd.merge(merged_df, df, on="SEQN", how="outer")

print("Dataset has the shape of:", merged_df.shape)
merged_df.head(5)

Dataset has the shape of: (15560, 14)

,SEQN,DIQ010,PAQ605,SMQ020,BMXWT,BMXBMI,INDFMMPC,ALQ111,ALQ121,CDQ001,CDQ010,RIAGENDR,RIDAGEYR,RIDRETH1
0,109263.0,2.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,2.0,5.0
1,109264.0,2.0,NaN,NaN,42.2,17.6,1.0,NaN,NaN,NaN,NaN,2.0,13.0,1.0
2,109265.0,2.0,NaN,NaN,12.0,15.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,3.0
3,109266.0,2.0,2.0,2.0,97.1,37.8,3.0,1.0,10.0,NaN,NaN,2.0,29.0,5.0
4,109267.0,2.0,2.0,2.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2.0,21.0,2.0

# Deal with The Missing Values

Let's check the final dataset's features not-missing values percebtage.

In [13]:
# Calculate the percentage of non-null values for each feature in the merged_df DataFrame.
percentage_counts = round(((merged_df.count() / len(merged_df)) * 100), 2)

# Sort the percentages in descending order (highest percentages first).
sorted_percentages = percentage_counts.sort_values(ascending=False)

print(sorted_percentages)

SEQN        100.00
RIAGENDR    100.00
RIDAGEYR    100.00
RIDRETH1    100.00
DIQ010       96.31
INDFMMPC     91.63
BMXWT        90.46
BMXBMI       84.43
PAQ605       62.29
SMQ020       62.29
ALQ111       53.79
ALQ121       48.22
CDQ001       41.34
CDQ010       41.34
dtype: float64

It does not seem well, so we can check the records. There may be some records with a lot features that are missing.

In [14]:
# Define the threshold for missing values (20% here).
missing_threshold = 0.20 * len(merged_df.columns)

# Create a new DataFrame containing records with more than 20% missing values.
records_with_missing_values = merged_df[merged_df.isnull().sum(axis=1) > missing_threshold]

print("The dataset with the records that have more than 20% missing values has the shape of: ",
      records_with_missing_values.shape)

The dataset with the records that have more than 20% missing values has the shape of:  (7449, 14)

Its seems that these records are not helpful to be added to our final dataset, so let's remove them.

In [15]:
# Create a new DataFrame (filtered_df) by selecting rows from the merged DataFrame (merged_df) 
# where the sum of missing values (NaNs) in each row is less than or equal to the missing_threshold.

filtered_df = merged_df[merged_df.isnull().sum(axis=1) <= missing_threshold]

# Print the shape of the filtered dataset, which shows the number of rows and columns.
print("The filtered dataset has the shape of: ", filtered_df.shape)

The filtered dataset has the shape of:  (8111, 14)

Now, let's check the not-missing values proportion in this filtered dataset.

In [16]:
# Calculate the percentage of non-null values for each feature in the DataFrame.
percentage_counts = round(((filtered_df.count() / len(filtered_df)) * 100), 2)

# Sort the percentages in descending order to see features with more non-null values first.
sorted_percentages = percentage_counts.sort_values(ascending=False)

print(sorted_percentages)

SEQN        100.00
DIQ010      100.00
PAQ605      100.00
SMQ020      100.00
RIAGENDR    100.00
RIDAGEYR    100.00
RIDRETH1    100.00
BMXWT        99.30
BMXBMI       99.09
ALQ111       96.39
INDFMMPC     94.77
ALQ121       89.95
CDQ001       71.95
CDQ010       71.95
dtype: float64

# Clean The Final Dataset

Firstly, change the pandas default features number that are shown when you display the dataframe.

In [17]:
pd.options.display.max_columns = None

Let's check the datset.

In [18]:
filtered_df

,SEQN,DIQ010,PAQ605,SMQ020,BMXWT,BMXBMI,INDFMMPC,ALQ111,ALQ121,CDQ001,CDQ010,RIAGENDR,RIDAGEYR,RIDRETH1
3,109266.0,2.0,2.0,2.0,97.1,37.8,3.0,1.0,1.000000e+01,NaN,NaN,2.0,29.0,5.0
8,109271.0,2.0,2.0,1.0,98.8,29.7,1.0,1.0,5.397605e-79,1.0,1.0,1.0,49.0,3.0
9,109273.0,2.0,1.0,1.0,74.3,21.9,1.0,1.0,5.397605e-79,NaN,NaN,1.0,36.0,3.0
10,109274.0,1.0,1.0,2.0,103.7,30.2,1.0,1.0,4.000000e+00,2.0,2.0,1.0,68.0,5.0
16,109282.0,2.0,2.0,1.0,83.3,26.6,3.0,1.0,5.397605e-79,1.0,1.0,1.0,76.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14978,124815.0,2.0,1.0,1.0,94.3,29.5,2.0,1.0,3.000000e+00,2.0,2.0,1.0,52.0,4.0
14980,124817.0,1.0,1.0,2.0,82.8,37.9,2.0,1.0,3.000000e+00,1.0,1.0,2.0,67.0,1.0
14981,124818.0,2.0,2.0,2.0,108.8,38.2,3.0,1.0,9.000000e+00,1.0,1.0,1.0,40.0,4.0
14984,124821.0,3.0,1.0,2.0,79.5,25.5,3.0,1.0,5.000000e+00,2.0,2.0,1.0,63.0,4.0
14985,124822.0,2.0,2.0,2.0,59.7,21.3,NaN,1.0,6.000000e+00,1.0,1.0,1.0,74.0,2.0

It seems that the features are not in the sequence that was defined.

In [19]:
columns = []

for key in features_dict.keys():
    
    features = features_dict[key]
    features.remove("SEQN")
    
    columns += features
    
columns = ["SEQN"] + columns

In [20]:
filtered_df = filtered_df[columns]

filtered_df.reset_index(inplace=True)
filtered_df.drop(columns="index", inplace=True)

print("The dataset shape is: ", filtered_df.shape)
filtered_df.head(5)

The dataset shape is:  (8111, 14)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,BMXWT,BMXBMI,DIQ010,PAQ605,SMQ020,INDFMMPC,ALQ111,ALQ121,CDQ001,CDQ010
0,109266.0,2.0,29.0,5.0,97.1,37.8,2.0,2.0,2.0,3.0,1.0,1.000000e+01,NaN,NaN
1,109271.0,1.0,49.0,3.0,98.8,29.7,2.0,2.0,1.0,1.0,1.0,5.397605e-79,1.0,1.0
2,109273.0,1.0,36.0,3.0,74.3,21.9,2.0,1.0,1.0,1.0,1.0,5.397605e-79,NaN,NaN
3,109274.0,1.0,68.0,5.0,103.7,30.2,1.0,1.0,2.0,1.0,1.0,4.000000e+00,2.0,2.0
4,109282.0,1.0,76.0,3.0,83.3,26.6,2.0,2.0,1.0,3.0,1.0,5.397605e-79,1.0,1.0

It seems that we have a problem with the ALQ121 feature which is for alcohol usage dataset.

In [21]:
# Define a custom rounding function that handles NaN values
def round_with_nan(x):
    if pd.notna(x):
        return float(round(x))
    return x

# Apply the custom rounding function to the specified columns
filtered_df[["ALQ121"]] = filtered_df[["ALQ121"]].applymap(round_with_nan)

filtered_df.head(5)

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,BMXWT,BMXBMI,DIQ010,PAQ605,SMQ020,INDFMMPC,ALQ111,ALQ121,CDQ001,CDQ010
0,109266.0,2.0,29.0,5.0,97.1,37.8,2.0,2.0,2.0,3.0,1.0,10.0,NaN,NaN
1,109271.0,1.0,49.0,3.0,98.8,29.7,2.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0
2,109273.0,1.0,36.0,3.0,74.3,21.9,2.0,1.0,1.0,1.0,1.0,0.0,NaN,NaN
3,109274.0,1.0,68.0,5.0,103.7,30.2,1.0,1.0,2.0,1.0,1.0,4.0,2.0,2.0
4,109282.0,1.0,76.0,3.0,83.3,26.6,2.0,2.0,1.0,3.0,1.0,0.0,1.0,1.0

Let's check if the problem with the feature has been solved.</br>
But before checking the dataset, change the default value of column width.

In [22]:
pd.set_option("display.max_colwidth", 0)

In [23]:
# Use value_counts()
df = filtered_df[["ALQ121"]]

# Initialize an empty list to store results
feature_info = []

# Loop through the columns
for column in df.columns:
    unique_values = df[column].unique()
    unique_values = natsorted(unique_values)
    num_unique = len(unique_values)
    feature_info.append([column, num_unique, unique_values])

# Create a DataFrame from feature_info
feature_info_df = pd.DataFrame(feature_info, columns=["Feature", "Num_Unique", "Unique_Values"])

feature_info_df

,Feature,Num_Unique,Unique_Values
0,ALQ121,14,"[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 77.0, 99.0]"

Nice! Seems perfect. Save the final dataset, and then the job is done.

In [24]:
filtered_df.to_csv("final_dataset.csv", index=False)